
@{
    ViewBag.Title = "Add_Client";
}




<div ng-app="MyApp">
    <div ng-controller="menuController">
        @* Here first of all we will create a ng-template *@
        <script type="text/ng-template" id="treeMenu">
            <a href="{{menu.Url}}">{{menu.Name}}</a>
            @* We will create submenu only when available *@
            <ul ng-if="(SiteMenu | filter:{ParentId : menu.ID}).length > 0">
                @*<li ng-repeat="menu in SiteMenu | filter:{ParentId : menu.ID}" ng-include="'treeMenu'"></li>*@
                <li ng-repeat="menu in SiteMenu | filter:{ParentId : menu.ID} : true" ng-include="'treeMenu'"></li>
            </ul>
        </script>
        <ul class="main-navigation">
            @* Here we will load only top level menu *@
            @*<li ng-repeat="menu in SiteMenu | filter:{ParentIf : 0}" ng-include="'treeMenu'"></li>*@
            <li ng-repeat="menu in SiteMenu | filter:{ParentId : 0} : true" ng-include="'treeMenu'"></li>
        </ul>
    </div>
</div>
@* Add css here for nav menu *@
<link href="~/css/navMenu.css" rel="stylesheet" />

@* add js here for angular app *@
@section Scripts{
    <script src="~/Scripts/MyApp.js"></script>
}


<script src="~/Scripts/Add_Client.js"></script>


<div class="container">
    <div class="master">
        <h2>הוסף לקוח</h2>
        <table class="table table-responsive">
            <tr>
                <td> Num Of Client</td>
                <td>

                    <input type="text" id="numCon" class="form-control" />
                    <span class="error">Number required</span>
                </td>
                <td>First Name </td>
                <td>
                    <input type="text" id="nameCont" class="form-control" value="" />
                    <span class="error">Tname required</span>
                </td>
            </tr>
            <tr>

                <td>Last Name </td>
                <td>
                    <input type="text" id="familyCont" class="form-control" value="" />
                    <span class="error">Family required</span>
                </td>
                <td>Name Of The Compagny </td>
                <td>
                    <input type="text" id="nameCompanyCont" class="form-control" value="" />
                    <span class="error">its required</span>
                </td>
            </tr>
            <tr>

                <td>Seniority </td>
                <td>
                    <input type="text" id="Seniority" class="form-control" value="" />
                    <span class="error">Seniority required</span>
                </td>
                <td>Adress</td>
                <td>
                    <input type="text" id="adressCont" class="form-control" value="" />
                    <span class="error">Adresse required</span>
                </td>
            </tr>

            <tr>

                <td>Phone</td>
                <td>
                    <input type="text" id="phoneCont" class="form-control" value="" />
                    <span class="error">Phone required</span>
                </td>
                <td>Phone Of The Compagny </td>
                <td>
                    <input type="text" id="tellOfficeCont" class="form-control" value="" />
                    <span class="error">its required</span>
                </td>
            </tr>
            <tr>

                <td>Email </td>
                <td>
                    <input type="text" id="emailCont" class="form-control" value="" />
                    <span class="error">Email required</span>
                </td>
                <td>Area </td>
                <td>
                    <input type="text" id="area" class="form-control" value="" />
                    <span class="error">area</span>
                </td>
            </tr>
        </table>
    </div>
    <table>

    <tr class="mycontainer" id="mainrow">

        <td>
            <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
        </td>
    </tr>
        </table>
     

    </div>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/myScripts.js"></script>
@*<script type="text/javascript">
        $(function () {
            $('#orderDate').datepicker({
                dateFormat: 'mm-dd-yy'
            })
        })
    </script>*@
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>
<link href="~/css/navMenu.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="~/Scripts/myScripts.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link type="text/css" href="css/bootstrap.min.css">
<link type="text/css" href="css/bootstrap-timepicker.min.css" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>

<script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">   </script>
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/myScripts.js"></script>